<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delta Sigma Pi - Sigma Tau</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'main/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'main/css/grayscale.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Duke Delta Sigma Pi</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#diversity">Diversity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#exec">Leadership</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link js-scroll-trigger" href="#recruitment">Recruitment</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#signup">Careers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Delta Sigma Pi</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Duke's Premier Co-Ed Business Organization</h2>
            <a href="#about" class="btn btn-primary js-scroll-trigger">Learn More</a>
        </div>
    </div>
{#    <div class="slideshow">#}
{#		<img src="http://malsup.github.com/images/beach1.jpg" width="200" height="200" />#}
{#		<img src="http://malsup.github.com/images/beach2.jpg" width="200" height="200" />#}
{#		<img src="http://malsup.github.com/images/beach3.jpg" width="200" height="200" />#}
{#		<img src="http://malsup.github.com/images/beach4.jpg" width="200" height="200" />#}
{#		<img src="http://malsup.github.com/images/beach5.jpg" width="200" height="200" />#}
{#	</div>#}
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto" >
                <h2 class="text-white mb-4">What is Delta Sigma Pi?</h2>
                <p style="text-align: left" class="text-white-50"> Delta Sigma Pi is a diverse community of motivated individuals supporting each other in their personal, academic, and professional aspirations. As the only nationally recognized co-ed professional organization on Duke’s campus, DSP fosters invaluable relationships, connecting you to more than 100 distinguished members and a prestigious worldwide alumni network. 
                    Beyond the professional benefits, DSP welcomes you into a tight-knit social group, known for annual holiday parties, semi-formals, and iconic cabin retreats! Delta Sigma Pi is more than a club - it’s a brotherhood!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto" >
                <h2 class="text-white mb-4">Frequently Asked Questions</h2>
            </div>
        </div>

        <div class="myaccordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Why should I join Delta Sigma Pi?
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            Besides being a nationally recognized business organization, DSP is one of the most diverse co-ed organizations on Duke’s campus in terms of our brothers’ backgrounds, interests, and aspirations. We are united by our willingness to support each other in achieving our academic and professional goals. If you’re looking for mentorship and guidance on identifying careers that are the best fit for you, navigating the complicated professional recruitment process, finding upperclassmen mentors, and spending time with some of your closest friends in college, DSP is the organization for you.
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What does recruitment look like?
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            Beginning in the first few weeks of the fall and spring semesters, recruitment consists of two rounds of professional and social events designed to help prospective members determine whether or not DSP is the right fit for them. After the first round, prospective members that have made a good impression and demonstrated promising fit will be invited to a second round. We encourage all Freshmen and Sophomore students that are interested in joining to follow our Facebook and Instagram to be updated when recruitment starts and come out to an info session to learn more.
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Does joining DSP mean I can’t join Greek Life or SLGs?
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            Not at all! Most of our brothers are also affiliated with other social organizations on campus like fraternities, sororities, and selective living groups (SLGs).
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Can I recruit more than once?
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            Yes you can, a lot of our brothers recruited more than once. In fact, we encourage potential recruits to try again even if they aren’t accepted the first time as it is a very competitive process.
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How much of a time commitment is DSP?
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                             It varies by member as what you put into our organization is what you will get out of it. Our new members are required to complete our new member education program which includes mandatory attendance at a weekly meeting and a few other events. Additionally, brothers are required to attend monthly chapter meetings and recruitment events in the beginning of each semester.
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        {#These breaks are currently here for aesthethic purposes, but you will probably also need them as a buffer before the pillars#}
        <br>
        <br>

    </div>

</section>

{#  diversity#}

<section class="p-0" id="diversity">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top: 5%">
                <h2 class="section-heading">Diversity and Pillars</h2>

            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box"style="text-align: center; display: block;">
                    <img class="img-fluid" src="{% static 'main/img/dspcareers.png' %}"alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Careers:
                            </div>
                            <div class="project-name text-faded" >
                                Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" style="text-align: center; display: block;">
                    <img class="img-fluid" src="{% static 'main/img/community.png' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Community:
                            </div>
                            <div class="project-name text-faded">
                                Delta Sigma Pi is one of the most diverse and well-connected communities on campus. Our brothers are leaders of other organizations, varsity athletes, musicians, artists, entrepreneurs, and academic scholars. We come from a variety of backgrounds, with 18 different countries represented, and have extremely diverse interests and achievements, from a Yo-Yo national champion to a Rhodes Scholar. You’re guaranteed to expand your circle and hang out with unique people that you would never have met if not for DSP.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" style="text-align: center; display: block;">
                    <img class="img-fluid" src="{% static 'main/img/qusaiideas.jpeg' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category " >
                                In Ideas:
                            </div>
                            <div class="project-name text-faded" >
                                The most important thing we value is our brothers’ thoughts and ideas - their voices are always heard. Through our open committee system, we encourage brothers to demonstrate leadership by actively contributing to the advancement of DSP. Want to plan your own event? We’ll fund it! Have a new recruitment idea? Attend our weekly Executive Board meetings! Each year, we have new professional and social events that are pioneered by brothers that are passionate about improving our organization. At DSP, we know that you have a vision and we want to be a part of it.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" style="text-align: center; display: block;">
                    <img class="img-fluid" src="{% static 'main/img/professionalism.png' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Professionalism:
                            </div>
                            <div class="project-name text-faded">
                                Delta Sigma Pi is deeply committed to the professional development of its members. We provide the knowledge and resources necessary to prepare you for interviews, access to our distinguished alumni network, exclusive networking opportunities with prestigious firms, and unparalleled mentorship to guide you through each step of the way. As a result, we have a consistent track record of placement into the best firms in various industries. Throughout the year, we also host guest speaker events, professional workshops, and competitions to unite the Duke community in professional advancement.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" style="text-align: center; display: block;">
                    <img class="img-fluid" src="{% static 'main/img/holidayparty.jpeg' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Brotherhood:
                            </div>
                            <div class="project-name text-faded" >
                                The Sigma Tau chapter prides itself on creating a tight-knit community and well-rounded experience that spans beyond professional and academic settings. To foster camaraderie between its brothers, we host a cabin retreat, semi-formal, dinners in downtown Durham, movie nights, spikeball tournaments, and various other social events every semester. Joining DSP guarantees that there is always something and someone to do things with. The people you meet will become some of your closest friends during and after college.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" style="text-align: center; display: block;">
                    <img class="img-fluid" src="{% static 'main/img/service.png' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Service and Scholarship:
                            </div>
                            <div class="project-name text-faded" >
                                Delta Sigma Pi is dedicated to making a difference in the Durham community because we believe that business has both a unique opportunity and a compelling duty to contribute to the larger community. The Sigma Tau chapter works closely with the Duke Farms, Habitat for Humanity, and Ronald McDonald House through community service and fundraising events. We also host an annual Swishes for Scholarships basketball tournament that has raised over $2,500 for the Durham Public Schools Scholarship Foundation to send public school students to college.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="col-lg-4 col-sm-6">-->
            <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/4.jpg' %}">-->
            <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/4.jpg' %}" alt="">-->
            <!--<div class="portfolio-box-caption">-->
            <!--<div class="portfolio-box-caption-content">-->
            <!--<div class="project-category text-faded">-->
            <!--Category-->
            <!--</div>-->
            <!--<div class="project-name" style="font-weight:700">-->
            <!--Project Name-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-sm-6">-->
            <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/5.jpg' %}">-->
            <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/5.jpg' %}" alt="">-->
            <!--<div class="portfolio-box-caption">-->
            <!--<div class="portfolio-box-caption-content">-->
            <!--<div class="project-category text-faded">-->
            <!--Category-->
            <!--</div>-->
            <!--<div class="project-name" style="font-weight:700">-->
            <!--Project Name-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-sm-6">-->
            <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/6.jpg' %}">-->
            <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/6.jpg' %}" alt="">-->
            <!--<div class="portfolio-box-caption">-->
            <!--<div class="portfolio-box-caption-content">-->
            <!--<div class="project-category text-faded">-->
            <!--Category-->
            <!--</div>-->
            <!--<div class="project-name" style="font-weight:700">-->
            <!--Project Name-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>


<section class="p-0" id="exec">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top: 5%">
                <h2 class="section-heading">Exec Team</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row popup-gallery"style="padding-left: 5%;padding-right: 5%">
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                {#            <a class="portfolio-box" >#}
                {#              <img class="img-fluid" style="border-radius: 50%;border: thick groove lightblue" src="{% static 'main/img/pres1.png' %}"alt="">#}
                {#              <div class="portfolio-box-caption">#}
                {#                <div class="portfolio-box-caption-content">#}
                {#                  <div class="project-category text-faded">#}
                {#                    In Careers:#}
                {#                  </div>#}
                {#                  <div class="project-name" style="font-weight:700">#}
                {#                    Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”#}
                {#                  </div>#}
                {#                </div>#}
                {#              </div>#}
                {#            </a>#}
                <a class="my-a-img" href="https://www.linkedin.com/in/sarahzhao1/" target="_blank">
                    <div class="img__overlay">
{#                        <p style="text-align: center;">Alex Yu<br />#}
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>

{#                        <img class="img-fluid" style="width: 25%" src="{% static 'main/img/linkedin2.png' %}"/>#}
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/sarahzhao.jpg' %}"/>
                </a>
                <p class="exec-text"><b>Sarah Zhao</b><br/>
                President</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/karthikr1/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/karthikramachandran.jpg' %}"/>
                </a>
                <p class="exec-text"><b>Karthik Ramachandran</b><br/>
                President</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/hannahylong/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/HannahLong.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Hannah Long</b><br/>
                Senior Vice President</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/florencewang2001/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/FlorenceWang.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Florence Wang</b><br/>
                Senior Vice President</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/bryent-t-38a5a8a4/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/BryentTakayama.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Bryent Takayama</b><br/>
                    Senior Vice President
                </p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/daneterickson/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/DaneErickson.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Dane Erickson</b><br/>
                VP Professional</p>
            </div>
        </div>
        <div class="row popup-gallery" style="padding-left: 5%;padding-right: 5%">
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/alexdastin/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/AlexDastin.jpeg' %}"/>
                </a>
                <p class="exec-text" style="font-size: 13px"><b>Alex Dastin</b><br/>
                VP Professional</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/akira-christina-yoh-152b91179/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/ChristinaYoh.jpeg' %}"/>
                </a>
                <p class="exec-text">
                    <b>Christina Yoh</b><br/>
                VP Cyber Operations</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                {#            <a class="portfolio-box" >#}
                {#              <img class="img-fluid" style="border-radius: 50%;border: thick groove lightblue" src="{% static 'main/img/pres1.png' %}"alt="">#}
                {#              <div class="portfolio-box-caption">#}
                {#                <div class="portfolio-box-caption-content">#}
                {#                  <div class="project-category text-faded">#}
                {#                    In Careers:#}
                {#                  </div>#}
                {#                  <div class="project-name" style="font-weight:700">#}
                {#                    Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”#}
                {#                  </div>#}
                {#                </div>#}
                {#              </div>#}
                {#            </a>#}
                <a class="my-a-img" href="https://www.linkedin.com/in/sydney-yap-4576a61ab/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/SydneyYap.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Sydney Yap</b><br/>
                VP Cyber Operations</p>
            </div>

            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/xu-cindy/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/CindyXu.jpeg' %}"/>
                </a>
                <p class="exec-text">
                    <b>Cindy Xu</b><br/>
                    VP Cyber Operations</p>
            </div>

            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/marcusdeans/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/marcusdeans.jpg' %}"/>
                </a>
                <p class="exec-text">
                    <b>Marcus Deans</b><br/>
                    VP Pledge Education
                </p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/sam-cohen5252/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/samcohen.jpg' %}"/>
                </a>
                <p class="exec-text"><b>Sam Cohen</b><br/>
                VP Pledge Education</p>
            </div>
        </div>

        <div class="row popup-gallery" style="padding-left: 5%;padding-right: 5%">
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/sanjay-satish-4b0283172/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/sanjaysatish.jpg' %}"/>
                </a>
                <p class="exec-text"><b>Sanjay Satish</b><br/>
                VP Pledge Education</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/philippeaschwob/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/philschwob.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Phil Schwob</b><br/>
                VP Pledge Education</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/madeleine-menkes-550b481b3/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/maddiemenkes.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Maddie Menkes</b><br/>
                VP Pledge Education</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/simonattenberger/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/SimonAttenberger.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Simon Attenberger</b><br/>
                VP Pledge Education</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/aidanjmccurry/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/AidanMcCurry.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Aidan McCurry</b><br/>
                VP Finance</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/jtnguyen22/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/jessienguyen.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Jessie Nguyen</b><br/>
                VP Chapter Operations</p>
            </div>
        </div>
        <div class="row popup-gallery" style="padding-left: 5%;padding-right: 5%">
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/hannabigal/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/HannahBigal.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Hanna Bigal</b><br/>
                VP Chapter Operations</p>
            </div>  
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/claudia-koeppen/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/claudiakoeppen.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Claudia Koeppen</b><br/>
                Chancellor</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/andrew-gao1/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/andrewgao.jpg' %}"/>
                </a>
                <p class="exec-text"><b>Andrew Gao</b><br/>
                Chancellor</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/keena-gao-61099b18a/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/KeenaGao.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Keena Gao</b><br/>
                Chancellor</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/rachel-huang-10/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/rachelhuang.jpg' %}"/>
                </a>
                <p class="exec-text"><b>Rachel Huang</b><br/>
                VP Social Activities</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/adrianna-diaz-1b711b1a9/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/adriannadiaz.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Adri Diaz</b><br/>
                VP Social Activities</p>
            </div>
        </div>
        <div class="row popup-gallery" style="padding-left: 5%;padding-right: 5%">
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/alanna-peykar/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/AlannaPeykar.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Alanna Peykar</b><br/>
                VP Social Activities</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/naman-parikh1/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/NamanParikh.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Naman Parikh</b><br/>
                VP Community Service</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/bryent-t-38a5a8a4/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/BryentTakayama.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Bryent Takayama</b><br/>
                VP Community Service</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/emily-hughes-342506186/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/EmilyHughes.jpeg' %}"/>
                </a>
                <p class="exec-text"> <b>Emily Hughes</b><br/>
                VP Scholarships and Awards</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/jillian-miller-538147207/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/JillianMiller.jpeg' %}"/>
                </a>
                <p class="exec-text"> <b>Jillian Miller</b><br/>
                VP Scholarships and Awards</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/tonycao123/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/TonyCao.jpeg' %}"/>
                </a>
                <p class="exec-text"> <b>Tony Cao</b><br/>
                VP Fundraising</p>
            </div>
        </div>
        <div class="row popup-gallery" style="padding-left: 5%;padding-right: 5%">
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/max-meister-ba6893202/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/MaxMeister.jpeg' %}"/>
                </a>
                <p class="exec-text"> <b>Max Meister</b><br/>
                VP Fundraising</p>
            </div>

            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/richard-zhai-237753190/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/RichardZhai.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Richie Zhai</b><br/>
                VP Alumni Relations</p>
            </div>

            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/blairspencer1/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/BlairSpencer.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Blair Spencer</b><br/>
                VP Alumni Relations</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/dcai/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/DylanCai.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Dylan Cai</b><br/>
                VP Alumni Relations</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/markrekutin/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/MarkRekutin.jpeg' %}"/>
                </a>
                <p class="exec-text"><b>Mark Rekutin</b><br/>
                VP Diversity and Inclusion</p>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="https://www.linkedin.com/in/hlzapata/" target="_blank">
                    <div class="img__overlay">
                        <i style="display: block" class="fab fa-linkedin fa-2x"></i>
                    </div>
                    <img class="img-fluid" src="{% static 'main/img/HenryZapata.jpeg' %}"/>
                </a>
                <p class="exec-text"> <b>Henry Zapata</b><br/>
                VP Diversity and Inclusion</p>
            </div>
        </div>
    </div>

        


    <!--<div class="col-lg-4 col-sm-6">-->
    <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/4.jpg' %}">-->
    <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/4.jpg' %}" alt="">-->
    <!--<div class="portfolio-box-caption">-->
    <!--<div class="portfolio-box-caption-content">-->
    <!--<div class="project-category text-faded">-->
    <!--Category-->
    <!--</div>-->
    <!--<div class="project-name" style="font-weight:700">-->
    <!--Project Name-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col-lg-4 col-sm-6">-->
    <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/5.jpg' %}">-->
    <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/5.jpg' %}" alt="">-->
    <!--<div class="portfolio-box-caption">-->
    <!--<div class="portfolio-box-caption-content">-->
    <!--<div class="project-category text-faded">-->
    <!--Category-->
    <!--</div>-->
    <!--<div class="project-name" style="font-weight:700">-->
    <!--Project Name-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col-lg-4 col-sm-6">-->
    <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/6.jpg' %}">-->
    <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/6.jpg' %}" alt="">-->
    <!--<div class="portfolio-box-caption">-->
    <!--<div class="portfolio-box-caption-content">-->
    <!--<div class="project-category text-faded">-->
    <!--Category-->
    <!--</div>-->
    <!--<div class="project-name" style="font-weight:700">-->
    <!--Project Name-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    </div>
    </div>
</section>

<!-- Recruitment Section -->
<section id="recruitment" class="projects-section  text-center" style="background: linear-gradient(0deg, rgba(243,156,18,0.55),rgba(255,255,255,0.55));">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-black mb-4">DSP Recruitment Fall 2021</h1>
            </div>
        </div>

    </div>
{#    <a href="https://www.facebook.com/groups/dspfall2021rush/" target="_blank" class="mx-2">#}
        <img src="{% static 'main/img/rushfall21.png' %}" alt="recruitment" style="max-width: 100%" class="center">  
{#    </a>#}

    <h2 class="text-black mb-4">Recriutment Schedule</h2>
    <br>
    <a href="https://www.facebook.com/groups/dspfall2021rush/" target="_blank" class="mx-2">
        <img src="{% static 'main/img/rushschedule2021.png' %}" alt="recruitment" style="max-width: 100%" class="center">  
    </a>


    <br>
    <br>
    <h2 class="text-black mb-4">Join our Recruitment Group</h2>
        <br>
    <a href="https://www.facebook.com/groups/dspfall2021rush/" target="_blank" class="mx-2">
         <i class="fab fa-facebook-square fa-7x"></i>
    </a>
</section>

<!-- Careers Section -->
<section id="signup" class="projects-section text-center" style="background: linear-gradient(0deg, rgba(22,22,22,0.99), rgba(255,255,255,0.55));">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-black mb-4">Where We Work</h1>
            </div>
        </div>

    </div>
    <img src="{% static 'main/img/careers.jpg' %}" alt="recruitment" style="width: 100%" class="center">
    <br>
    <br>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">
        <div class="social d-flex justify-content-center">
            <a href="https://www.instagram.com/duke.dsp/" target="_blank" class="mx-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/groups/489857518253456/?ref=share" target="_blank" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            {#        <a href="#" class="mx-2">#}
            {#          <i class="fab fa-github"></i>#}
            {#        </a>#}
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Duke DSP 2021
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
{#  <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>#}


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow').cycle({
            fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
    });
</script>
<script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'main/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'main/js/grayscale.js' %}"></script>

</body>

</html>



