<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delta Sigma Pi - Sigma Tau</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'main/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'main/css/grayscale.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Delta Sigma Pi</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#diversity">Diversity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#exec">Leadership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#recruitment">Recruitment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#signup">Careers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Delta Sigma Pi</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">We out here.</h2>
            <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
    </div>
    <div class="slideshow">
		<img src="http://malsup.github.com/images/beach1.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach2.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach3.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach4.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach5.jpg" width="200" height="200" />
	</div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">What is Delta Sigma Pi?</h2>
                <p class="text-white-50">Delta Sigma Pi is a dope organization with dope people.</p>
            </div>
        </div>
        <div class="row">
            <h5 class="text-white mb-4">Frequently Asked Questions</h5>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Why did you join DSP?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Answer
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Does DSP only take Econ majors?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Answer
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How much of a time committment is Delta Sigma Pi?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Answer
                    </div>
                </div>
            </div>
        </div>
        {#These breaks are currently here for aesthethic purposes, but you will probably also need them as a buffer before the pillars#}
        <br>
        <br>

    </div>

</section>

{#  diversity#}

<section class="p-0" id="diversity">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Diversity and Pillars</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" src="{% static 'main/img/portfolio/thumbnails/1small.jpg' %}"alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category " style="font-weight:700">
                                In Careers:
                            </div>
                            <div class="project-name text-faded" >
                                Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" src="{% static 'main/img/portfolio/thumbnails/magic.jpg' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Careers:
                            </div>
                            <div class="project-name text-faded" >
                                Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" src="{% static 'main/img/portfolio/thumbnails/websitesmall.jpg' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category " >
                                In Careers:
                            </div>
                            <div class="project-name text-faded" >
                                Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" src="{% static 'main/img/portfolio/thumbnails/websitesmall.jpg' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Careers:
                            </div>
                            <div class="project-name text-faded" >
                                Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" src="{% static 'main/img/portfolio/thumbnails/websitesmall.jpg' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Careers:
                            </div>
                            <div class="project-name text-faded" >
                                Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" src="{% static 'main/img/portfolio/thumbnails/websitesmall.jpg' %}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category ">
                                In Careers:
                            </div>
                            <div class="project-name text-faded" >
                                Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="col-lg-4 col-sm-6">-->
            <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/4.jpg' %}">-->
            <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/4.jpg' %}" alt="">-->
            <!--<div class="portfolio-box-caption">-->
            <!--<div class="portfolio-box-caption-content">-->
            <!--<div class="project-category text-faded">-->
            <!--Category-->
            <!--</div>-->
            <!--<div class="project-name" style="font-weight:700">-->
            <!--Project Name-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-sm-6">-->
            <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/5.jpg' %}">-->
            <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/5.jpg' %}" alt="">-->
            <!--<div class="portfolio-box-caption">-->
            <!--<div class="portfolio-box-caption-content">-->
            <!--<div class="project-category text-faded">-->
            <!--Category-->
            <!--</div>-->
            <!--<div class="project-name" style="font-weight:700">-->
            <!--Project Name-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-sm-6">-->
            <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/6.jpg' %}">-->
            <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/6.jpg' %}" alt="">-->
            <!--<div class="portfolio-box-caption">-->
            <!--<div class="portfolio-box-caption-content">-->
            <!--<div class="project-category text-faded">-->
            <!--Category-->
            <!--</div>-->
            <!--<div class="project-name" style="font-weight:700">-->
            <!--Project Name-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>


<section class="p-0" id="exec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Exec Team</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row popup-gallery">
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                {#            <a class="portfolio-box" >#}
                {#              <img class="img-fluid" style="border-radius: 50%;border: thick groove lightblue" src="{% static 'main/img/pres1.png' %}"alt="">#}
                {#              <div class="portfolio-box-caption">#}
                {#                <div class="portfolio-box-caption-content">#}
                {#                  <div class="project-category text-faded">#}
                {#                    In Careers:#}
                {#                  </div>#}
                {#                  <div class="project-name" style="font-weight:700">#}
                {#                    Through their ambition, open-mindness, and hard work, our brothers excel in all areas of business, including entrepreneurship, technology, marketing, consulting, and investment banking, to name a few. Whether you want to work in Silicon Valley or on Wall Street, for an innovative start-up or a Fortune 100 company, Delta Sigma Pi provides the network, resources, and mentorship necessary for you to land your desired job. All you have to answer is, “What is my dream job and company?”#}
                {#                  </div>#}
                {#                </div>#}
                {#              </div>#}
                {#            </a>#}
                <a class="my-a-img" href="#">
                    <div class="img__overlay">Alex Yu</div>
                    <img class="img-fluid" src="{% static 'main/img/pres1.png' %}"/>
                </a>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="#">
                    <div class="img__overlay">Alex Yu</div>
                    <img class="img-fluid" src="{% static 'main/img/pres1.png' %}"/>
                </a>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="#">
                    <div class="img__overlay">Alex Yu</div>
                    <img class="img-fluid" src="{% static 'main/img/pres1.png' %}"/>
                </a>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="#">
                    <div class="img__overlay">Alex Yu</div>
                    <img class="img-fluid" src="{% static 'main/img/pres1.png' %}"/>
                </a>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="#">
                    <div class="img__overlay">Alex Yu</div>
                    <img class="img-fluid" src="{% static 'main/img/pres1.png' %}"/>
                </a>
            </div>
            <div class="col-lg-2 {#col-sm-3#}" style="border-radius: 43%;">
                <a class="my-a-img" href="#">
                    <div class="img__overlay">Alex Yu</div>
                    <img class="img-fluid" src="{% static 'main/img/pres1.png' %}"/>
                </a>
            </div>
        </div>
    </div>


    <!--<div class="col-lg-4 col-sm-6">-->
    <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/4.jpg' %}">-->
    <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/4.jpg' %}" alt="">-->
    <!--<div class="portfolio-box-caption">-->
    <!--<div class="portfolio-box-caption-content">-->
    <!--<div class="project-category text-faded">-->
    <!--Category-->
    <!--</div>-->
    <!--<div class="project-name" style="font-weight:700">-->
    <!--Project Name-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col-lg-4 col-sm-6">-->
    <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/5.jpg' %}">-->
    <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/5.jpg' %}" alt="">-->
    <!--<div class="portfolio-box-caption">-->
    <!--<div class="portfolio-box-caption-content">-->
    <!--<div class="project-category text-faded">-->
    <!--Category-->
    <!--</div>-->
    <!--<div class="project-name" style="font-weight:700">-->
    <!--Project Name-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col-lg-4 col-sm-6">-->
    <!--<a class="portfolio-box" href="{% static 'personal/img/portfolio/fullsize/6.jpg' %}">-->
    <!--<img class="img-fluid" src="{% static 'personal/img/portfolio/thumbnails/6.jpg' %}" alt="">-->
    <!--<div class="portfolio-box-caption">-->
    <!--<div class="portfolio-box-caption-content">-->
    <!--<div class="project-category text-faded">-->
    <!--Category-->
    <!--</div>-->
    <!--<div class="project-name" style="font-weight:700">-->
    <!--Project Name-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    </div>
    </div>
</section>

<!-- Recruitment Section -->
<section id="recruitment" class="projects-section bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-black mb-4">DSP Recruitment Fall 2019</h1>
            </div>
        </div>

    </div>
    <img src="{% static 'main/img/rushsp19.png' %}" alt="recruitment" class="center">
    <br>
    <br>
    <h2 class="text-black mb-4">Join our Recruitment Group</h2>
    {#    <br>#}
    <a href="https://www.facebook.com/groups/292245318306829/" target="_blank" class="mx-2">
        <i class="fab fa-facebook-square fa-7x"></i>
    </a>
</section>

<!-- Careers Section -->
<section id="signup" class="projects-section bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-black mb-4">Where We Work</h1>
            </div>
        </div>

    </div>
    <img src="{% static 'main/img/careers.png' %}" alt="recruitment" class="center">
    <br>
    <br>
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">

        <div class="social d-flex justify-content-center">
            <a href="https://www.instagram.com/duke.dsp/" target="_blank" class="mx-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/dukedspsigmatau/" target="_blank" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            {#        <a href="#" class="mx-2">#}
            {#          <i class="fab fa-github"></i>#}
            {#        </a>#}
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Your Website 2019
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
{#  <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>#}


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow').cycle({
            fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
    });
</script>
<script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'main/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'main/js/grayscale.min.js' %}"></script>

</body>

</html>
